[
    {
        "name": "normal",
        "ips": ["128.12.26.32"],
        "cps_high": 50,
        "max_duration": 250000,
        "min_duration": 160000,
        "mos_range": [4.2, 4.4],
        "jitter_range": [0.8, 1.2],
        "packetloss_range": [0, 1]
    },
    {
        "name": "bad",
        "ips": ["136.25.33.12", "175.26.2.152", "192.168.1.1", "136.15.22.45"],
        "interval": 30,
        "count": 10,
        "max_duration": 250000,
        "min_duration": 160000,
        "mos_range": [2.8, 3.5],
        "jitter_range": [250, 450],
        "packetloss_range": [150, 300]
    },
    {
        "name": "403",
        "ips": ["186.30.1.125", "184.125.22.123", "156.152.10.1", "125.2.35.120"],
        "interval": 60,
        "count": 15
    }
]