[
    {
        "name": "normal",
        "ips": ["128.12.26.32"],
        "cps_high": 100,
        "max_duration": 120000,
        "min_duration": 65000
    },
    {
        "name": "bad",
        "ips": ["136.25.33.12"],
        "interval": 300,
        "count": 10,
        "max_duration": 120000,
        "min_duration": 65000
    },
    {
        "name": "403",
        "ips": ["186.30.1.125"],
        "interval": 900,
        "count": 50
    }
]